<% if flash[:notice] %>
  <div class="alert alert-success mb-0 mt-3" role="alert">
    <div class="text-muted"><%= flash[:notice] %></div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger mb-0 mt-3" role="alert">
    <div class="text-muted"><%= flash[:alert] %></div>
  </div>
<% end %>
