<% if flash[:notice] %>
  <div class="position-fixed start-50 translate-middle-x" style="z-index: 1030; top: 8rem;">
    <div class="toast hide text-center text-white bg-success border-0" data-controller="flash-message">
      <div class="toast-body">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="position-fixed start-50 translate-middle-x" style="z-index: 1030; top: 8rem;">
    <div class="toast hide text-center text-white bg-danger border-0" data-controller="flash-message">
      <div class="toast-body">
        <%= flash[:alert] %>
      </div>
    </div>
  </div>
<% end %>
