<!-- Tabler Core -->
<script src="https://unpkg.com/@tabler/core@1.0.0-beta9/dist/js/tabler.min.js"></script>

<!-- bring back data-confirm -->
<script>
  document.addEventListener("click", (event) => {
    if (!event.target.matches("[data-confirm]")) return;
    if (!window.confirm(event.target.dataset["confirm"])) event.preventDefault();
  });
</script>

<!-- validation rails -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".field_with_errors").forEach((element) => {
      element.firstChild.classList.add("is-invalid");

      element.parentNode.insertBefore(element.firstChild, element);
      element.parentNode.removeChild(element);
    });
  });
</script>

<!--
###########################################################################################################################
                                          Old school stimulus example
         <div data-controller="toasts" data-toats-type="notice" data-toasts-message="User created successfully"></div>
###########################################################################################################################
-->
<!--
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("[data-controller='toasts']").forEach((thiz) => {
      if (thiz.dataset["toastsType"] === "notice") {
        $(document).Toasts("create", { body: thiz.dataset["toastsMessage"], class: "bg-success", title: "Success", autohide: true, delay: 7000 })
      } else (thiz.dataset["toastsType"] === "alert") {
        $(document).Toasts("create", { body: thiz.dataset["toastsMessage"], class: "bg-danger", title: "Error", autohide: true, delay: 7000 })
      }
    })
  })
</script>
-->
