<%= content_for :title, title %>

<div class="col">
  <div class="mb-1">
    <ol class="breadcrumb" aria-label="breadcrumbs">
      <%= yield %>
    </ol>
  </div>
  <h1 class="page-title">
    <span class="text-truncate"><%= title %></span>
  </h1>
</div>
